.acceptbtn[b-8k7zbqr4sz] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row[b-8k7zbqr4sz] {
    margin-top: 15px;
}