@page "/"
@using System.Security.Claims
@using Blazored.LocalStorage
@using Cafe.Services
@using global::Shared.Auth
@inject IAuthService jwtService;
@inject ILocalStorageService _LocalStorage;
<PageTitle>Index</PageTitle>

<h1>ArtCafe Connect</h1>

Welcome to ArtCafeConnect!



@code
{
    string token;
    protected override async Task OnInitializedAsync()
    {
        token =  await _LocalStorage.GetItemAsStringAsync("token");
    }
}
